.app {
  @include small {
    .repos {
      width: 100%;
      padding: 15px;
      border: 1px solid rgb(232, 232, 232);
      border-radius: 5px;
      background: #FFF;
      margin-bottom: 15px;
      font-size: 16px;
      text-align: left;
      cursor: pointer;
      @include box-shadow;

      & > h2 {
        margin: 0;
        font-size: 18px;
        color: #34495e;
      }

      & > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          font-size: 15px;
        }
      }

      &:hover {
        background: rgb(251, 251, 251);
      }
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FFF;
      overflow: scroll;

      button {
        display: inline;
        margin: 20px 0px;
        background: #fff;
        border: 1px solid rgb(240, 240, 240);
        font-size: 16px;
        padding: 10px 10px;
        font-weight: 600;
        cursor: pointer;
      }

      hr {
        border: 1px solid rgb(243, 243, 243);
      }

      ul {
        list-style: none;
        padding: 0;
      }
      .markdown {
        padding: 15px 0px;
      }
    }

    .error-dialog {
      text-align: center;
      
      & > button {
        margin: 20px 0px;
        background: #fff;
        border: 1px solid rgb(240, 240, 240);
        padding: 10px 10px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}